#map {
    display: inline-block;
    height: 600px;
    width: 80%;
    margin: 0% 10%;
}
#mapa {
    display: inline-block;
    height: 600px;
    width: 80%;
    margin: 0% 10%;
}
.filledInputs{
    background-color: red;
}
.filledInputs{
    background-color: red;
}